.landing {
    padding: 90px 26px 26px 26px;
    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
}

.slogan {
    color: #ffffff;
    font-size: 280%;
    font-weight: 800;
    max-width: 420px;
}

.slogan p {
    margin: 44px 0 44px 0;
}