.store-wrapper {
    display: flex;
}

.side-panel {
    width: 400px;
    min-width: 400px;
    height: 100vh;
    background-color: #242526;
    color: #ffffff;
    padding: 26px;
    display: flex;
    flex-direction: column;
}

ul.stores-ul {
    margin-top: 78px;
    overflow: auto;
}

ul.stores-ul::-webkit-scrollbar {
  width: 6px;
}

ul.stores-ul::-webkit-scrollbar-track {
  background: transparent;
}
 
ul.stores-ul::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}

ul.stores-ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.side-panel > div:nth-child(1) {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #808080;
    padding-bottom: 26px;
}

.side-panel > div:nth-child(1) h3 {
    margin: 0 auto;
}

.side-panel div:last-child {
    margin-top: auto;
}

.side-panel > div:first-of-type h3 {
    color: #00CED1;
}

ul.stores-ul li {
    cursor: pointer;
    border: 1px solid #808080;
    border-radius: 4px;
    margin: 8px 10px 8px 0;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

ul.stores-ul li:first-of-type {
    background-color: #000000;
}

ul.stores-ul li:last-of-type {
    width: fit-content;
}

ul.stores-ul li:last-of-type svg{
    margin: 0 5px 0 5px;
}

.side-panel > div {
    cursor: pointer;
    width: fit-content;
}

.user-panel-main {
    width: 100%;
    background-color: #DCDCDC;
    color: #585858;
    padding: 26px;
}

.user-panel-main > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.store-head {
    height: 100px;
    overflow-wrap: anywhere;
    overflow: hidden;
}

.edit-button {
    margin: 0 0 90px 12px;
    cursor: pointer;
}

.user-panel-detail {
    padding-top: 15px;
}

ul.locations-ul {
    display: grid;
    justify-content: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 240px);
    margin-top: 16px;
}

ul.locations-ul li:last-of-type {
    margin: auto 0;
    padding-left: 11px;
}

ul.locations-ul li:last-of-type svg {
    font-size: 230%;
    cursor: pointer;
}

.location-li {
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 10px;
}

.location-li > p:first-of-type {
    font-weight: 600;
}

.location-li > svg {
    float: right;
    cursor: pointer;
    font-size: 120%;
}