.main {
    display: grid;
    background-color: #FFFFF0;
}

.landing {
    background: url("./assets/images/jason-jarrach-7hO3yb3EzcY-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFFFF0;
    min-height: 480px;
    padding-top: 90px;
}